.app {
  display: flex;
  text-align: left -100px;
  float: left;
  min-height: 100px;
  width: 5000px;
  display: grid;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.answer {
  border: 5px solid #ccc;
  float: left;
  font: 700 24px HelveticaNeue, Helvetica, Arial;
  margin: 10px 10px;
  padding: 20px;
}

.question {
  display: inline-block;
}

.question_header {
  border-bottom: 3px solid red;
}

.buttons {

}

.selected { border-color: #3BA8AA; }