.app {
  display: grid;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -300px;
  border: 2px solid #ccc;
  height: 350px;
  width: 600px;
  display: grid;
}

.question_header {
  display: grid;
  height: 18%;
  grid-template-columns: 90% 10%;
  text-align: start;
  margin-top: auto;
}

.question {
  vertical-align: middle;
}

.title {
  text-indent: 2%;
}

.progress-bar {
  height: 2px;
  width: 100%;
  background: darkgrey;
}

.progress-bar .progress {
  height: 2px;
  width: 0px;
  background: darkblue;
  transition: width 0.3s;
}

.answers_container {
  display: flex;
  margin: auto;
}

.answer {
  border: 2px solid #ccc;
  font: 450 15px HelveticaNeue, Helvetica, Arial;
  height: 25px;
  margin: 5px ;
  padding: 10px 10px;
  text-align: center;
  vertical-align: middle;
}

.selected { border-color: #3BA8AA; }

.navigation_buttons {
  display: grid;
  grid-template: 2fr 2fr 1fr / 8fr 2fr 2fr 1fr;
  grid-column-gap: 2px;
}

.button {
  font: bold 15px black;
}

.next {
  grid-area: 2 / 3 / span 1 / span 1;
}

.back {
  grid-area: 2 / 2 / span 1 / span 1;
}



